
table {
    width: 100%;
    border: 1px solid #131212;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
    border-radius: 2px;
 }


 th, td {
    border-bottom: 1px solid rgb(9, 9, 9);
    width: 25%;
    
            
 }


 